[submodule "third_party/qemu"]
	path = third_party/qemu
	url = https://gitlab.com/qemu-project/qemu.git
	branch = stable-9.2
[submodule "third_party/llvm-project"]
	path = third_party/llvm-project
	url = https://github.com/llvm/llvm-project.git
	branch = llvmorg-22.1.3
[submodule "third_party/riscv-rvv-intrinsic-doc"]
	path = third_party/riscv-rvv-intrinsic-doc
	url = https://github.com/riscv-non-isa/riscv-rvv-intrinsic-doc.git
